nav {
    z-index: 2;
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #c94848;
    transition: width 0.25s ease-in;

    text-align: center;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav ul li {
    font-size: 18px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    cursor: pointer;
}

nav ul li.active {
    background-color: #c60000;
}

main {
    background-color: #262626;
    z-index: 1;
    position: absolute;
    left: 200px;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 15px;

    transition: left 0.25s ease-in;
    overflow-y: auto;
}

.nav-toggle {
    z-index: 3;
    display: none;
    transition: left 0.25s ease-in;
}

@media screen and (max-width: 900px) {
    nav {
        width: 0;
    }

    nav.mobilenav {
        width: 200px;
    }

    main {
        left: 0;
    }

    .nav-toggle {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;  
    }

    .nav-toggle.mobilenav {
        left: 210px;
    }
}

nav ul li i {
    font-size: 50px;
}

button {
    background: none;
    border: none;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
}

button i {
    font-size: 35px;
}