
<div class="toast-container">
    <div class="toast" *ngFor="let toast of toastService.toastArray; let i = index;" [ngClass]="toast.style" (click)="toastService.removeToast(i)">{{toast.text}}</div>
</div>
<nav [ngClass]="{'mobilenav': navExtended}">
    <ul>
        <li *ngIf="firebaseService.isLoggedIn()" role="presentation" routerLink="/yourTrainings" routerLinkActive="active">Deine Trainings</li>
        <li *ngIf="firebaseService.isLoggedIn()" role="presentation" routerLink="/settings" routerLinkActive="active">Einstellungen</li>
        <li *ngIf="firebaseService.isLoggedIn()" (click)="logout()"><i class="material-icons">exit_to_app</i></li>
        <li *ngIf="!firebaseService.isLoggedIn()" role="presentation" routerLink="/login" routerLinkActive="active">Login</li>
        <li *ngIf="!firebaseService.isLoggedIn()" role="presentation" routerLink="/signup" routerLinkActive="active">Registrieren</li>
    </ul>
</nav>
<button (click)="navExtended = !navExtended" class="nav-toggle" [ngClass]="{'mobilenav': navExtended}"><i class="material-icons">menu</i></button>
<main>
    <router-outlet></router-outlet>
</main>